<div align='center' class="grid row-gap-3 col-gap-3">
  <br>
<hr>
<h4> Test - Application Form</h4>
<form action='/script/{{script['id']}}/apply' method='post'>
  <table>
    <tr>  
      <td>
         <div class="p-2 g-col-6 g-row-6">
        <label>Updated Price :</label>
         </div>
      </td>
      <td>
         <div class="p-2 g-col-6 g-row-6">
        <input type='text' name = 'updated_price' placeholder='100.0'>
         </div>
      </td>
    </tr>

    <tr>  
      <td>
         <div class="p-2 g-col-6 g-row-6">
        <label>Position :</label>
            </div>
      </td>
      <td>
         <div class="p-2 g-col-6 g-row-6">
        <input type='text' name = 'Long' placeholder='1'>
            </div>
      </td>
    </tr>

    <tr><td colspan='2'>
     <div style='text-align:center' class="p-2 g-col-6 g-row-6">
        <button class='btn btn-primary btn-sm' type='submit'>Contact-us</button>
      </div>
    </td>
    </tr>
  </table>
</form>
</div>