<table class="table">
  <thead class="table-dark">
    <tr>
      <td>ID</td>
      <td>Symbol</td>
      <td>Traded Price</td>
      <td>LTP</td>
      <td>PnL</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for script in scripts %}
      <tr>
      <td>{{script['id']}}</td>
        <td>{{script['symbol']}}</td>
        <td>{{script['tp']}}</td>
        <td>{{script['ltp']}}</td>
        <td>{{script['pnl']}}</td>
        <td><a href="https://www.yesbank.in" type="button" class="btn btn-success">Reload</a></td>

      </tr>
    {% endfor %}
  </tbody>
</table>
